.bg-image {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.rowContainer {
    position: relative;
    min-height: 100vh;  
}

.divForm {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}